<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
        @import url('https://fonts.cdnfonts.com/css/dm-serif-display');
        @import url('https://fonts.cdnfonts.com/css/br-sonoma');

        .nav-btn,
        .nav-head {
            font-family: 'BR Sonoma', sans-serif;
        }

        .top-div h1 {
            font-family: 'DM Serif Display', serif;
        }

        .top-div p {
            font-family: 'BR Sonoma', sans-serif;
        }

        :root {
            --swiper-navigation-color: #ffffff;
            /* change to your color */
        }

        .swiper {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            width: 300px;
            /* adjust card width */
            max-width: 320px;
            margin: 0 auto;
        }

        .swiper-slide img {
            width: 100%;
            height: auto;
            border-radius: 20px;
            /* nice rounded look */
        }
    </style>
    <!-- remix icon cdn here -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- font link -->
    <link href="https://fonts.cdnfonts.com/css/minimo" rel="stylesheet">

</head>

<body>
    <div class="menu h-[100vh] fixed left-0 top-0 z-[9999] bg-black w-full hidden justify-around text-white ">
        <div class="flex flex-col gap-6 justify-around h-[100%]">
            <i class="close-icon cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                    <path fill="#fff"
                        d="m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z" />
                </svg>
            </i>

            <div class="flex flex-col gap-4 mt-10 text-2xl">
                <a class="text-[#D1CEB2]" href="#">Home</a>
                <a href="#">Accessories</a>
                <a href="#">Support</a>
                <a href="#">Gallery</a>

            </div>

            <h1 class="text-5xl">Designed to be loved.</h1>
        </div>

        <div>
            <img src="pictures/photo.jpg" class="w-[100%] h-full" alt="photo">
        </div>

    </div>

    <div class="Navbar sticky h-[5rem] flex items-center justify-between bg-black z-[2]">
        <i class="menu-icon ri-menu-2-line Menu w-[40px] text-2xl text-white relative left-[20px]"></i>
        <h1 class="nav-head text-white text-4xl font-poppins -tracking-tighter">iPhone</h1>
        <div class="relative right-[2rem] justify-center flex gap-3">
            <button class="nav-btn bg-[#B0B0B0] border-white text-black p-1 w-[5rem] h-[30px] rounded-[5px]">Log
                in</button>
            <button class="nav-btn bg-[#B0B0B0] border-white text-black p-1 w-[5rem] h-[30px] rounded-[5px]">Sign
                up</button>
        </div>
    </div>

    <div class="w-full bg-zinc-900">
        <div class="parent relative top-0 left-0 w-full h-[700vh] z-[1]">
            <div class="w-full sticky top-0 left-0 h-screen">
                <canvas class="w-full h-screen bg-black" id="canvas"></canvas>
            </div>
        </div>
    </div>
    <div class="bg-black h-screen text-white flex items-center justify-around">
        <div>
            <img id="iphone" src="pictures/iphone.png" alt="">
        </div>
        <div id="feature" class="top-div flex flex-col gap-[2rem]">
            <div>
                <h1 class="text-[27px]">Introducing the Future of Smart Design</h1>
                <p class="text-[14px] opacity-50">Unmatched Precision. Ultimate Control.</p>
            </div>
            <div>
                <p class="text-[20px] w-[859px]">Experience our newest model, built for those who demand perfection in
                    every tap, swipe, and scroll.
                </p>
            </div>
            <div class="text-white flex flex-col gap-[1rem]">
                <div class="flex flex-row gap-1">
                    <i class="ri-arrow-right-line"></i>
                    <p>Performance-first Engineering - Lightning-fast response times.</p>
                </div>
                <div class="flex flex-row gap-1">
                    <i class="ri-arrow-right-line"></i>
                    <p>Security at Core - Your data, safeguarded with next-gen encryption.</p>
                </div>
                <div class="flex flex-row gap-1">
                    <i class="ri-arrow-right-line"></i>
                    <p>All-Day Battery - Stay powered through everything.</p>
                </div>
            </div>
            <div>
                <p><span class="italic text-[#CDCCAB]">Redefining elegance</span>. Designed to captivate from every
                    angle</p>
            </div>
            <div>
                <img src="pictures/qoute.png" alt="">
            </div>
        </div>
    </div>

    <div class="bg-black h-screen">
        <div class="flex items-center justify-center h-screen">
            <video id="displayVideo" src="display.mp4" class="w-[50%] h-[50%] object-cover object-center "
                muted></video>
        </div>
    </div>

    <div class="swiper mySwiper bg-gray-500 w-full py-10">
        <div class="swiper-wrapper">

            <!-- Slide 1 -->
            <div class="swiper-slide flex justify-center">
                <div class="card rounded-2xl shadow-md p-5 w-[320px]">
                    <h4 class="text-base font-medium text-white relative top-18">Apple Intelligence</h4>
                    <p class=" text-amber-200 text-xl font-semibold my-2 relative top-17">AI-opening possibilities.</p>
                    <img src="pictures/img-1.jpg" alt="AI" class="w-full rounded-xl absolute top-0 left-0 z-[-1] ">
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="swiper-slide flex justify-center">
                <div class="card rounded-2xl shadow-md p-5 w-[320px]">
                    <h4 class="text-base font-medium text-white relative top-18">Apple Intelligence</h4>
                    <p class=" text-amber-200 text-xl font-semibold my-2 relative top-17">AI-opening possibilities.</p>
                    <img src="pictures/img-2.jpg" alt="AI" class="w-full rounded-xl">
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="swiper-slide flex justify-center">
                <div class="card rounded-2xl shadow-md p-5 w-[320px]">
                    <h4 class="text-base font-medium text-white relative top-18">Apple Intelligence</h4>
                    <p class=" text-amber-200 text-xl font-semibold my-2 relative top-17">AI-opening possibilities.</p>
                    <img src="pictures/img-3.jpg" alt="AI" class="w-full rounded-xl">
                </div>
            </div>
            <div class="swiper-slide flex justify-center">
                <div class="card rounded-2xl shadow-md p-5 w-[320px]">
                    <h4 class="text-base font-medium text-white relative top-18">Apple Intelligence</h4>
                    <p class=" text-amber-200 text-xl font-semibold my-2 relative top-17">AI-opening possibilities.</p>
                    <img src="pictures/img-4.jpg" alt="AI" class="w-full rounded-xl">
                </div>
            </div>
            <div class="swiper-slide flex justify-center">
                <div class="card rounded-2xl shadow-md p-5 w-[320px]">
                    <h4 class="text-base font-medium text-white relative top-18">Apple Intelligence</h4>
                    <p class=" text-amber-200 text-xl font-semibold my-2 relative top-17">AI-opening possibilities.</p>
                    <img src="pictures/img-5.jpg" alt="AI" class="w-full rounded-xl">
                </div>
            </div>
            <div class="swiper-slide flex justify-center">
                <div class="card rounded-2xl shadow-md p-5 w-[320px]">
                    <h4 class="text-base font-medium text-white relative top-18">Apple Intelligence</h4>
                    <p class=" text-amber-200 text-xl font-semibold my-2 relative top-17">AI-opening possibilities.</p>
                    <img src="pictures/img-6.jpg" alt="AI" class="w-full rounded-xl">
                </div>
            </div>


        </div>

        <!-- Swiper controls -->
        <div class="swiper-button-prev !text-black"></div>
        <div class="swiper-button-next !text-black"></div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="bg-black h-screen">
        <div class="flex items-center justify-center h-screen">
            <video id="batteryVideo" src="battery.mp4" class="w-[80%] h-[80%] object-cover object-center "
                muted></video>
        </div>
    </div>

    <div class="bg-black h-screen flex items-center justify-center">
        <div class="gallery max-w-5xl w-full p-4">

            <!-- Top Large Image -->
            <div class="mb-4">
                <img src="pictures/top.jpg" alt="Top Camera"
                    class="w-full h-[400px] object-cover rounded-lg animate-top">
            </div>

            <!-- Bottom Two Images -->
            <div class="grid grid-cols-2 gap-4">
                <img src="pictures/bottom-left.jpg" alt="Camera Left"
                    class="w-full h-[300px] object-cover rounded-lg animate-left">
                <img src="pictures/bottom-right.jpg" alt="Camera Right"
                    class="w-full h-[300px] object-cover rounded-lg animate-right">
            </div>

        </div>
    </div>

    <div class="bg-black h-screen"></div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
        integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"
        integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="/script/script.js"></script>

</body>

</html>
